html {
	font-family:sans-serif;
}

header {
	width:100%;
	position:fixed;
	top:0;
	z-index:10;
	margin:0 0;
	margin-top:0;
	height:4rem;
	background-color:white;
	display:inline-flex;
	align-items:center;
	justify-content:space-between;
	border-bottom:1px solid #CCC;
}

#top-left {
	display:inline-flex;
	align-items:center;
	position:relative;
	left:1.5rem;
}

#top-left img {
	width:2.8rem;
	position:relative;
	top:.25rem;
}

#top-left h1 {
	display:inline;
	font-weight:600;
}

.dark {
	color:#333;
}

.light {
	color:#AAA;
}

nav {
	width:40%;
	margin-right:1.5rem;
	display:flex;
	justify-content:flex-end;
	align-items:center;
}

@media only screen and (max-width:880px){
	nav {
		display:none;
	}
}

nav ul {
	list-style-type:none;
	display:flex;
	justify-content:flex-end;
	flex-wrap:nowrap;
	align-items:center;
}

nav li {
	display:inline;
	margin-left:1rem;
	font-size:1.5rem;
	color:#444;
	flex-wrap:nowrap;
}

#s1 {
	width:100%;
	padding-top:4rem;
	padding-bottom:4rem;
	background-color:#CCC;
	display:flex;
	flex-wrap:nowrap;
	align-items:center;
}

#s2 {
	width:100%;
	padding-top:4rem;
	background-color:white;
	display:flex;
	flex-wrap:nowrap;
}

#s3 {
	width:100%;
	padding-top:4rem;
	background-color:#CCC;
	text-align:center;
}

#s1 .img-container {
	margin:1rem 1.5rem;
	min-width:100px;
	max-width:60%;

}

#s2-left .img-container {
	max-width:100%;
}

.img-container img {
	width:100%;
	height:100%;
	object-fit:cover;
}

#banner-right {
	display:flex;
	flex-direction:column;
	flex-shrink:1;
	max-width:30%;
}

@media only screen and (max-width:1880px){
	#s1, #s2, #s3cc,#s4,#s4c {
		flex-direction:column;
		flex-wrap:nowrap;
		align-items:center;
		text-align:center;
	}
	#banner-right {
		text-align:center;
		max-width:100%;
	}		
	#button-container{
		margin:auto;
	}
	#s1 .img-container, #s2-left .img-container {
		min-width:100%;
	}
	#s2-left, #s2-right, #s4l, #s4c {
		min-width:100%;
	}
	#s3cc {
		margin:0 .2rem !important;
	}
	#s3cc .sb {
		min-width:100%;
	}
	#s4c #s4l {
		text-align:center;
	}
	#s4r {
		min-width:100%;
	}
	#s4r .s4b {
		min-width:100%;
	}
	.s4b .s4bi {
		display:flex;
		flex-direction:column;
		border:1px solid red;
		justify-content:stretch;
	}
}

#banner-right h1, #s2 h1, #s3 h1, #s4 h1 {
	font-size:3.5rem;
}

#banner-right h4 {
	color:#444;
	font-size:1.5rem;
}

#button-container {
	text-align:center;
	width:50%;
	border:1px solid grey;
	background-color:#555;
	border-radius:1rem;
}

#s2-left {
	width:60%;
}

#s2-left h1 {
	margin-bottom:24px;
}

#s2-left p {
	font-size:22px;
	margin-bottom:32px;
}

#s2-right {
	display:flex;
	flex-flow:column;
	justify-content:space-between;
	height:100%;
	width:37%;
	border-left:1px solid #BBB;
}

#s2-right .s2rc {
	width:100%;
	height:32%;
	display:inline-flex;
	align-items:center;
	transition:all 300ms;
	flex-grow:1;
}

.s2rc .img-container {
	width:40%;
	height:85%;
	margin 0 0;
}

.s2rc .info {
	width:52%;
	margin 0 0;
	position:relative;
	bottom:8%;
	left:6%;
}

.s2rc .info h2{
	font-size:32px;
	color:#444;
}

.s2rc .info h4{
	font-size:16px;
	color:#666;
}

.info a {
	text-decoration:none !important;
}

.rm {
	color:navy !important;
	transition:color 400ms;
}

.s2rc:hover, #s4r .s4b:hover{
	background-color:#ccc;
}

a h4:hover {
	color:blue !important;
}

#start-here h3:hover {
	background-color:#354a2a;
}

#s3cc {
	display:flex;
	margin:0 10%;
	margin-top:2rem;
	flex-wrap:wrap;
	justify-content:center;
	padding-bottom:2rem;
}

.sb {
	background-color:white;
	flex-grow:1 1;
	max-width:30%;
	margin:.5rem;
}

.sb img {
	width:100%;
}

.sb p {
	margin-bottom:1.5rem;
	margin-left:1rem;
	margin-right:1rem;
}

#s4 {
	text-align:center;
	margin-bottom:2rem;
}

#s4l {
	margin-left:1.5rem;
	margin-right:1.5rem;
	width:60%;
	text-align:left;
}

#s4l video {
	width:100%;
	margin-top:0;
}

#s4c {
	display:inline-flex;
	align-items:start;
}

#s4r {
	display:flex;
	width:40%;
	flex-flow:column;
	justify-content:flex-start;
	border-left:1px solid #BBB;
}

.s4b {
	display:inline-flex;
	align-items:center;
	flex-wrap:nowrap;
}

.s4b img {
	flex:1 1;
	margin:1rem;
	max-width:35%;
	height:auto;
}

.s4bi {
	text-align:left;
}

.s4bi h2 {
	font-size:1.4rem;
	color:#444;
}

footer {
	border-top:1px solid #BBB;
	width:100%;
	display:flex;
	justify-content:space-between;
	align-items:baseline;
	margin: 0 1.5rem;
	padding-bottom:1.5rem;
}



